/* -----------------------------------------------------------  */
.typewriter {
  white-space: nowrap;
  overflow: hidden;
  display: flex; /* ensures content aligns left */
  align-items: center;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 0.7s steps(1) infinite;
  color: black;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.autoType_font_size {
  color: gold;
  height: 95px;
}
