
.typewriter {
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.autotype-container-width{
  width: 330px;
}

