.Ad_image_container_size {
  height: 500px;
}

.card-width {
  width: 12rem;
  height: 17rem;
  min-width: 12rem;
  min-height: 17rem;
  overflow: hidden;
}

#Ad_image {
  filter: brightness(70%);
}

.Ad_image_info {
  /* bottom: 3rem; */
  /* left: 8rem; */
 /* margin-left: 50px; */
}

.echivmentIcon {
  font-size: 40px;
}

.echivmentText {
  font-size: 15px;
}

.design_ele_star_css {
  left: -2rem;
  top: -1rem;
  rotate: 300deg;
}

.design_ele_star_size {
  width: 40px;
}

.design_ele_line_css {
  bottom: -0.7rem;
  left: -0.1rem;
}

.design_ele_line_size {
  width: 100%;
}

.gradient-backgroundcolor {
  width: 12rem;
  background-color: transparent; /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(77, 77, 77), transparent);
}

.font-style-Dancing-script {
  font-family: "Dancing Script";
}

.text-transition {
  transition: font-size 0.3s ease, color 0.3s ease;
}

.container-next-button {
  transform: translateY(-50%);
  top: 50%;
  right: 1rem;
}

.container-previous-button {
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
}

.nxt-prv-btn-bag {
  background-image: radial-gradient(rgb(62, 62, 62), transparent, transparent);
}

.Height-100per {
  height: 100%;
}

.rounded-head{
  width: 100%;
  background-color: white ;
  padding: 55px; 
}

.HamburgerMenu{
  cursor: pointer;
  right: 40px;
  top: 20px;
}

.HamburgerMenu-tab-width{
  width: 300px !important;
}

#HamburgerMenu-tab-list{
  list-style-type: none;
  row-gap: 20px;
  cursor: pointer;
}

#HamburgerMenu-tab-list li:hover{
  color: white;
}

.nav-link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
  text-decoration: none;
  color: inherit;
}

#sidebar-menu{
  /* display: none; */
  width: 0px;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  text-wrap-mode: nowrap;
  transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

.display-none{
  display: none;
}