/* html{
  scroll-behavior: "smooth";
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
     user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  /* background-color: #000237; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.txt-indigo{
    color: indigo;
}

.txt-red{
    color: red;
}

.txt-gold{
  color: gold;
}

.txt-white{
  color: white;
}

.bag-indigo{
    background-color: indigo;
}

.sig-text-color{
  color: #000237;
}

.sig-bag-color{
    background-color: #000237;
}

.Font-Poppin{
  font-family: 'Poppins'
}

.Font-DancingScript{
  font-family: 'Dancing Script' 
}

.background-patter{
  background-image: url("./pages/images/background_pattern.jpg");
  background-repeat: repeat-x;
  /* background-size: cover */
  /* padding: 0; */
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.animation-enabled-container{
  animation: appear linear;
  animation-timeline:view();
  animation-range: entry 3% cover 13%; 
}

.fs-10px{
  font-size: 10px;
}